.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0rem;
}

.flexRowContent--disclaimer {
  background-color: #cce4ff;
  color: black;
}

.flexRowContent.flexRowContent--main-header {
  background-color: #FFFFFF;
}

.flexRowContent.flexRowContent--menu-link {
  color: white;
}

.flexCol--menu-link {
  background-color: #FFFFFF;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0rem;
  }
}

@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0rem;
  }
}

.flexRowContent--menu-link {
  background-color: #30629a;
  color: white;
}

.flexRowContent--main-header {
  background-color: #FFFFFF;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
  border-bottom: #03044e;
}

.flexCol--main-header {
  background-color: #30629a;
}

.flexRow--deals {
  background-color: #cce4ff;
  padding: 14px 0px;
  margin-top: -5px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-bottom: 5px;
  padding-top: 5px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
  padding-left: 1rem;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexCol--contact, .flexColChild--newsletter {
  background-color: #cce4ff;
}

.flexRowContent--form {
  background-color: #cce4ff;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.flexRowContent.flexRowContent--socials {
  justify-items: center;
  background-color: blue;
}

.flexRowContent.flexRowContent--footer-menu {
  background-color: #30629a;
  width: 100vw;
}

.flexRowContent.flexRowContent--menu-row {
  padding-bottom: 1rem;
}

.flexCol--spec-col {
  margin-left: 5rem;
  margin-left: 5rem;
}

.flexColChild--spec-col {
  margin-bottom: 1rem;
  max-height: 3rem;
}

.flexRowContent--b2b {
  background-color: #03044e;
}

.flexRow--isaca-price-plp {
  align-self: left;
  font-size: 1rem;
}

.flexColChild--pdp-right {
  font-size: 1.25rem;
}

