.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

.socialNetworkWrapper--socials {
  display: flex;
  align-items: center;
  background-color: #FFE0EF;
}

.socialNetworksContainer {
  margin-right: 1rem;
}

.acceptedPaymentMethodContainer {
  display: flex;
  align-items: center;
}
